@model TraineeTracker.Models.ViewModels.TrackerViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h1 id="heading">Delete</h1>
    <h3 id="sub_heading">Are you sure you want to delete this?</h3>
    <hr />
    <table class="table" id="table" style="color:white;">
        <thead>
            <tr>
                <th id="stop_heading">
                    @Html.DisplayNameFor(model => model.Stop)
                </th>
                <th id="start_heading">
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th id="continue_heading">
                    @Html.DisplayNameFor(model => model.Continue)
                </th>
                <th id="comments_heading">
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th id="technical_heading">
                    @Html.DisplayNameFor(model => model.TechnicalSkills)
                </th>
                <th id="consultant_heading">
                    @Html.DisplayNameFor(model => model.ConsultantSkills)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="stop_data">
                    @Html.DisplayFor(model => model.Stop)
                </td>
                <td id="start_data">
                    @Html.DisplayFor(model => model.Start)
                </td>
                <td id="continue_data">
                    @Html.DisplayFor(model => model.Continue)
                </td>
                <td id="comments_data">
                    @Html.DisplayFor(model => model.Comments)
                </td>
                <td id="technical_data">
                    @Html.DisplayFor(model => model.TechnicalSkills)
                </td>
                <td id="consultant_data">
                    @Html.DisplayFor(model => model.ConsultantSkills)
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" id="delete_btn" />
            <a asp-action="Index" asp-route-id="@Model?.UserDataId"><button type="button" class="btn btn-light" id="back_btn" style="margin-left: 5px;">Back</button></a>
        </form>
    </div>
</div>
