@model TraineeTracker.Models.ViewModels.TrackerViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Stop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Continue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TechnicalSkills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultantSkills)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stop)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Start)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Continue)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Comments)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TechnicalSkills)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ConsultantSkills)
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" asp-route-id="@Model?.UserDataId"><button type="button" class="btn btn-light" style="margin-left: 5px;">Back</button></a>
        </form>
    </div>
</div>
