@model TraineeTracker.Models.ViewModels.TrackerViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h1>Details</h1>
    <hr />
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Stop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Continue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TechnicalSkills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultantSkills)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stop)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Start)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Continue)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Comments)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TechnicalSkills)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ConsultantSkills)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" asp-route-id="@Model?.UserDataId"><button type="button" class="modify-user-btn btn-light" style="float: right; margin-left: 5px;">Back</button></a>
    <a asp-action="Edit" asp-route-id="@Model?.ID"><button type="button" class="modify-user-btn btn-light" style="float: right;">Edit</button></a>
</div>
