@model IEnumerable<TraineeTracker.Models.ViewModels.TrackerViewModel>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Skills', 'Number'],
            ['Skilled', @Model.Where(x => x.ConsultantSkills == SkillsEnum.SkillsRank.Skilled).Count()],
            ['Partially Skilled', @Model.Where(x => x.ConsultantSkills == SkillsEnum.SkillsRank.Partially_Skilled).Count()],
            ['Low Skilled', @Model.Where(x => x.ConsultantSkills== SkillsEnum.SkillsRank.Low_Skilled).Count()],
            ['Unskilled', @Model.Where(x => x.ConsultantSkills == SkillsEnum.SkillsRank.Unskilled).Count()]
        ]);
        var options = {
            title: 'Consultant Skills Tracker',
            titleColor: 'white',
            backgroundColor: '#3f3f3f',
            legend: {
                textStyle: { color: 'white' }
            }
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Skills', 'Number'],
            ['Skilled', @Model.Where(x => x.TechnicalSkills == SkillsEnum.SkillsRank.Skilled).Count()],
            ['Partially Skilled', @Model.Where(x => x.TechnicalSkills == SkillsEnum.SkillsRank.Partially_Skilled).Count()],
            ['Low Skilled', @Model.Where(x => x.TechnicalSkills== SkillsEnum.SkillsRank.Low_Skilled).Count()],
            ['Unskilled', @Model.Where(x => x.TechnicalSkills == SkillsEnum.SkillsRank.Unskilled).Count()]
        ]);
        var options = {
            title: 'Technical Skills Tracker',
            titleColor: 'white',
            backgroundColor: '#3f3f3f',
            legend: {
                textStyle: { color: 'white' }
            }
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_two'));
        chart.draw(data, options);
    }
</script>

<div class="row">
    <h1>Index</h1>
    <hr />
    @if (User.IsInRole("Trainer") || User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Create"><button type="button" class="modify-user-btn btn-lg btn-light" style="float: left;">Create New</button></a>
        </div>
    }
    <br /> <br />

    <div style="width: 100%; float left;">
        <div style="float: left; display: inline;">
            <table class="table" style="color:white; width: 700px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Modify</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row"><h5 style="display:inline;">@Html.DisplayNameFor(modelItem => item.Week) @Html.DisplayFor(modelItem => item.Week)</h5></th>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Edit</button></a>
                                <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Details</button></a>
                                <a asp-controller="UserDatas" asp-action="Index"><button type="button" class="modify-user-btn btn-light">Back</button></a>
                                @if (User.IsInRole("Trainer") || User.IsInRole("Admin")){
                                    <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Delete</button></a>
                                }
                            </td>
                        </tr>
                    }
            </table>
        </div>
        <div style="float: right;">
            <div id="piechart" style="width: 400px; height: 300px;"></div>
            <div id="piechart_two" style="width: 400px; height: 300px;"></div>
        </div>
    </div>
</div>
