@model IEnumerable<TraineeTracker.Models.ViewModels.TrackerViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="center">
    <div class="row">
        <h1>Index</h1>
        <hr />
        <a asp-action="Create"><button type="button" class="modify-user-btn btn-lg btn-light" style="float:left; padding-bottom:5px;">Create New</button></a>
        @foreach (var item in Model)
        {
            <div>
                @Html.DisplayNameFor(modelItem => item.Week)
                @Html.DisplayFor(modelItem => item.Week)
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        }
    </div>
</div>
