@model TraineeTracker.Models.ViewModels.UserDataViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h1>Profile</h1>
    <hr />
    <table class="table table-borderless" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayName("First Name")
                </th>
                <th>
                    @Html.DisplayName("Last Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Biography)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skills)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Education)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Experience)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Activity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Biography)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Skills)
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <a asp-action="Index"><button type="button" id="back_button" class="modify-user-btn btn-light" style="float: right; margin-left: 5px;">Back</button></a>
        <a asp-action="Edit" asp-route-id="@Model?.ID"><button type="button" id="edit_button" class="modify-user-btn btn-light" style="float: right;">Edit</button></a>
    </div>
</div>
