@model IEnumerable<TraineeTracker.Models.ViewModels.UserDataViewModel>

@{
    if (User.IsInRole("Admin")){
        ViewData["Title"] = "Users";
    }
    else if (User.IsInRole("Trainer"))
    {
        ViewData["Title"] = "View Trainees";
    }
    else if (User.IsInRole("Trainee"))
    {
        ViewData["Title"] = "User Portal";
    }
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayName("First Name")
                </th>
                <th>
                    @Html.DisplayName("Last Name")
                </th>
                <th>
                    @Html.DisplayName("Modify")
                </th>
            </tr>
        </thead>
        <tbody>
            @if(User.IsInRole("Trainer")){
        
                <form asp-action="Index" >     
                    <div class="d-flex flex-row w-50 my-4 p-0">
                        <input type="text" name="SearchString" class="form-control mx-2" id="SearchString" placeholder="Trainee's name">
                        <button type="submit" value="Filter" class="btn btn-primary mb-2">Search</button>
                    </div>
                </form>
        
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Profile</button></a>
                        <a asp-controller="Trackers" asp-action="Index" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Trackers</button></a>
                        @if (User.IsInRole("Trainer"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Delete</button></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
