@model IEnumerable<TraineeTracker.Models.ViewModels.UserDataViewModel>

@{
    if (User.IsInRole("Admin")){
        ViewData["Title"] = "Users";
    }
    else if (User.IsInRole("Trainer"))
    {
        ViewData["Title"] = "View Trainees";
    }
    else if (User.IsInRole("Trainee"))
    {
        ViewData["Title"] = "User Portal";
    }
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <hr />
    @if (User.IsInRole("Trainer") || User.IsInRole("Admin"))
    {
        <form asp-action="Index">
            <div class="d-flex flex-row w-30 my-4 p-0" style="float: right;">
                <input type="text" name="SearchString" class="form-control mx-2" id="SearchString" placeholder="Trainee's name" />
                <button type="submit" value="Filter" class="btn btn-primary mb-2">Search</button>
            </div>
        </form>
    }
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayName("First Name")
                </th>
                <th>
                    @Html.DisplayName("Last Name")
                </th>
                <th>
                    @Html.DisplayName("Role")
                </th>
                <th>
                    @Html.DisplayName("Modify")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Edit</button></a>
                        @if (item.Roles == UserData.Level.Trainee)
                        {
                            <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Profile</button></a>
                            <a asp-controller="Trackers" asp-action="Index" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Trackers</button></a>
                        }
                        @if (User.IsInRole("Trainer") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="modify-user-btn btn-light">Delete</button></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
