@model IEnumerable<TraineeTracker.Models.ViewModels.UserDataViewModel>

@{
    if(User.IsInRole("Trainer")){
        ViewData["Title"] = "Manage Trainees";
    }
    else if (User.IsInRole("Trainee"))
    {
        ViewData["Title"] = "Manage User";
    }
}

<div class="row">
<h1>@ViewData["Title"]</h1>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-controller="Trackers" asp-action="Index" asp-route-id="@item.ID">Trackers</a>
                @if (User.IsInRole("Trainer"))
                {
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</div>
